body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapContainer {
  width: 50%;
  padding: 10px;
}

.quakeContainer {
  width: 40%;
  height: 725px;
  margin-right: -30px;
  overflow-y: scroll;
}




